
.vs/FM-SoundConvertor/v16/.suo
FM-SoundConvertor/bin/Debug/FM-SoundConvertor.exe
FM-SoundConvertor/bin/Debug/FM-SoundConvertor.exe.config
FM-SoundConvertor/bin/Debug/FM-SoundConvertor.pdb
FM-SoundConvertor/bin/Release/FM-SoundConvertor.exe.config
FM-SoundConvertor/bin/Release/FM-SoundConvertor.pdb
FM-SoundConvertor/obj/Debug/FM-SoundConvertor.csproj.CoreCompileInputs.cache
FM-SoundConvertor/obj/Debug/FM-SoundConvertor.csproj.FileListAbsolute.txt
FM-SoundConvertor/obj/Debug/FM-SoundConvertor.csprojAssemblyReference.cache
FM-SoundConvertor/obj/Debug/FM-SoundConvertor.exe
FM-SoundConvertor/obj/Debug/FM-SoundConvertor.pdb
FM-SoundConvertor/obj/Release/FM-SoundConvertor.csproj.CoreCompileInputs.cache
FM-SoundConvertor/obj/Release/FM-SoundConvertor.csproj.FileListAbsolute.txt
FM-SoundConvertor/obj/Release/FM-SoundConvertor.exe
FM-SoundConvertor/obj/Release/FM-SoundConvertor.pdb
FM-SoundConvertor/obj/Release/FM-SoundConvertor.csprojAssemblyReference.cache
FM-SoundConvertor/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
